*{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

html{
    background-image: url('assets/bg-index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container{
    display: flex;
    margin-top: 25vh;
    padding: 10% 0px;
    align-items: center;
    flex-direction: column;
    color: white;
}

.links-container{
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding-inline-start: 0;
}

.links-container a{
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    border: solid white hidden;
    border-radius: 20px;
    text-align: center;
    transition: 500ms;
    text-decoration: none;
}

.links-container a:hover{
    background-color: white;
    border: visible;
    color: black;
    cursor: pointer;
}

.flex-container h2 {
    font-size: 25px;
    font-weight: lighter;
}