*{
    font-size: large;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html{
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-name{
    font-size: 25px;
    height: 10px;
}

.flex-container{
    display: flex;
    padding: 100px;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    border: solid black;
    border-radius: 15px;
    background-color: rgba(153, 153, 153, 0.671);
}

.button{
    margin-top: 10px;
    height: 40px;
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 108, 55);
    align-items: column center;
    color: white;
}

/* Input.html */
.input-margin{
    margin: 10px 0px;
}

.age-margin{
    margin-right: 23px;
}

.height-margin{
    margin-right: 3px;
}

.gender-margin{
    margin-right: 8px;
}

.textbox{
    font-size: medium;
    padding: 4px 8px;
    width: 202px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.select-margin{
    font-size: medium;
    margin-left: 8px;
    width: 300px;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.food-margin{
    font-size: medium;
    margin-left: 2px;
    width: 300px;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 5px;
    border: none;
}

/*Calorie-Tracking.html*/

.calories-container{
    display: flex;
    align-items: center column;
    justify-content: center;
    flex-direction: column;
    
    margin: 0px 0px;  
}

.caloriesLabel{
    margin: 10px 10px;
    padding: 20px 40px;
    font-size: medium;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}

.calories-display-box{
    justify-content: center;
    margin-left: 20px;
    padding: 20px 50px;
    width: 100%;
    background-color: rgb(88, 88, 88);
    color: white;
    border-radius: 0px 5px 5px 5px;
}