*{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

body{
    text-align: center;
    margin: 0;
}

.almanzor-portfolio{
    background-image: url('../assets/almanzor-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.mesia-portfolio{
    background-image: url('../assets/mesia-bg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    height: 100px;
    width: 100%;
    color: white;
}

.mesia{
    background-color: rgb(76, 76, 105);
}

.almanzor{
    background-color: rgb(107, 49, 49);
}

nav{
    line-height: 100px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 30px;
}

nav a:hover{
    cursor: pointer;
}

nav .selected{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: solid white;
    border-radius: 12px;
}
nav .not-selected{
    padding: 5px 10px;
    border: solid transparent;
    transition: border .2s;
    border-radius: 12px;
}

nav .not-selected:hover{
    border: solid white;
}

.header-container{
    width: 100%;
    margin: 0px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100px;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
}

.list{
    margin-top: 100px;
}

.list a{
    padding: 70px 80px;
    background-color: rgb(69, 110, 110);
    border-radius: 20px;
    transition: border .2s;
    border: solid transparent 5px;
    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
}

.list a:hover{
    border: solid rgb(43, 43, 43) 5px;
}

.list h2{
    margin-top: 10px;
    font-size: 15px;
    cursor: default;
}

li .name {
    margin-top: -90px;
    font-size: 15px;
    font-weight: lighter;
}

.autobiography{
    background-image: url('../assets/images/biography.png');
}

.country{
    background-image: url('../assets/images/country.png');
}

.quote{
    background-image: url('../assets/images/quote.png');
}

.calorie{
    background-image: url('../assets/images/calorie.png');
}

.animal{
    background-image: url('../assets/images/animal.png');
}

.pkmn{
    background-image: url('../assets/images/pkmn.png');
}

.ghibli{
    background-image: url('../assets/images/ghibli.png');
}