html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    scroll-behavior: smooth;
    scroll-margin: 100px;
}

/* Header Class */

header{
    height: 100px;
    background: #5D5C61;
    width: 100%;
    z-index: 12;
    border-bottom: 4px solid white;
    position: fixed;
}


li{
    float: right;
    line-height: 100px;
    list-style-type: none;
}

li a{
    text-decoration: none;
    letter-spacing: 4px;
    margin: 0 25px;
    color: #fff;
    text-transform: uppercase;
}

li a:hover{
    border-width: 10px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    transition: ease-in-out 100ms;
}

a{
    gap:0.2em;
    list-style: none;
    padding-right: 5px;
    color:#1E272D;
    text-decoration: none;
    cursor: pointer;
}


.wrapper{
    width: 1170px;
    margin: 0 10%;
}


/* Home page Class */

.intro{
    width: 100%;
    height: 780px;
    /* position: fixed; */
    top: 100px;
    background-image: url(assets/header.jpg);
    background-size: cover;
    background-position: center;
    
}

.bg-text{
    color: white;
    text-transform: uppercase;
    font-family: "Bowlby One SC";
    font-size: 50px;
    letter-spacing: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.icons{
    font-size: 30px;
}

/* About Me */

.about{
    align-items: center;
    justify-content: center;
    padding: 4em;
    gap: 2em;
}


/* Text Layout */
.main{
    align-items: center;
    gap: 4em;
}

.row{
    display: flex;
    flex-direction: row;
}

.justify{text-align: justify;}

/* background color */

.bg-color {background-color: #B1A296;
}